<div class="container">
  <!-- Tỉnh/Thành phố -->
  <div class="box p-datatable-scrollable">
    <div class="grid p-3 min-w-full ">
        <div class=" col-12 p-0 pb-3 box-item">
            <p class="content-city font-semibold pl-3 pt-2 m-0">Tỉnh/thành phố</p>
            <span class="p-input-icon-right" style="float: right;">
            <i class="pi pi-search"></i>
            <input type="text" pInputText class="p-inputtext-sm w-19rem" [(ngModel)]="valueSearch" (keyup.enter)="searchCity()" />
            </span>
        </div>
        <div class="col-12 p-0">
            <m-table [items]="citys" [calcHeight]="148" [cols]="cols" [customBodyTemplate]="customBodyTemplate"
                [customHeaderTemplate]="customHeaderTemplate">
            </m-table>
            <ng-template #customHeaderTemplate>
                <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width']" pFrozenColumn  >
                    <span class="p-3">{{ col['header'] }} &nbsp; &nbsp;<i class='{{ col.isOpSort? (col.iconSort == 0? "pi pi-sort-alt" : (col.iconSort == 1? "pi pi-sort-amount-up-alt" : "pi pi-sort-amount-down")) : ""}}' style="font-size: 1.01rem"></i></span>
                    <!-- Icon Sort -->
                    <div class="ml-1 w-2rem">
                        
                    </div>
                </th>
                <th [style.minWidth]="'3rem'" style="right:-4px;" pFrozenColumn alignFrozen="right">
                    <p-button [style]="{'float': 'right', 'padding': '0.6rem', 'min-witdh': '8rem'}" label="Thêm mới" icon="pi pi-plus" (click)="onCreatCity()">
                    </p-button>
                </th>
              </ng-template>
              <ng-template #customBodyTemplate let-rowData class="div-btn" >
                <td class="div-btn" [style.minWidth]="col.width" *ngFor="let col of cols;" pFrozenColumn class="div-btn">
                    <span class="p-3">{{ rowData[col['field']] }}</span>
                </td>
                <td [style.minWidth]="'3rem'" class="text-center flex justify-content-center p-2" pFrozenColumn alignFrozen="right">
                    <div>
                        <p-button [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary p-button-outlined" (click)="onEditCity(rowData)" ></p-button>
                        <p-button class="pl-2" [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-outlined" (click)="onDeleteCity(rowData)"></p-button>
                    </div>
                </td>
            </ng-template>
        </div>
        
    </div>
  </div>

  <!-- Quận/huyện -->
  <div class="box p-datatable-scrollable">
    <div class="grid p-3 min-w-full ">
        <div class=" col-12 p-0 pb-3 box-item">
            <p class="content-city font-semibold pl-3 pt-2 m-0">Quận/huyện</p>
            <span class="p-input-icon-right" style="float: right; visibility: hidden">
                <i class="pi pi-search"></i>
                <input type="text" pInputText class="p-inputtext-sm w-19rem" />
            </span>
        </div>
        <div class="col-12 p-0">
            <m-table [items]="citys" [calcHeight]="148" [cols]="cols"[customBodyTemplate]="customBodyTemplate"
            [customHeaderTemplate]="customHeaderTemplate"></m-table>
            <ng-template #customHeaderTemplate>
                <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width']" pFrozenColumn  >
                    <span class="p-3">{{ col['header'] }} &nbsp; &nbsp;<i class='{{ col.isOpSort? (col.iconSort == 0? "pi pi-sort-alt" : (col.iconSort == 1? "pi pi-sort-amount-up-alt" : "pi pi-sort-amount-down")) : ""}}' style="font-size: 1.01rem"></i></span>
                    <!-- Icon Sort -->
                    <div class="ml-1 w-2rem">
                        
                    </div>
                </th>
                <th [style.minWidth]="'3rem'" style="right:-4px;" pFrozenColumn alignFrozen="right">
                    <p-button [style]="{'float': 'right', 'padding': '0.6rem', 'min-witdh': '8rem'}" label="Thêm mới" icon="pi pi-plus">
                    </p-button>
                </th>
              </ng-template>
              <ng-template #customBodyTemplate let-rowData class="div-btn" >
                <td class="div-btn" [style.minWidth]="col.width" *ngFor="let col of cols;" pFrozenColumn>
                    <span class="p-3">{{ rowData[col['field']] }}</span>
                </td>
                <td [style.minWidth]="'3rem'" class="text-center flex justify-content-center p-2" pFrozenColumn alignFrozen="right">
                    <div class="hidden-div">
                        <p-button [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary p-button-outlined" ></p-button>
                        <p-button class="pl-2" [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
                    </div>
                </td>
            </ng-template>
        </div>
        
    </div>
  </div>

  <!-- Xã/phường -->
  <div class="box p-datatable-scrollable">
    <div class="grid p-3 min-w-full ">
        <div class=" col-12 p-0 pb-3 box-item">
            <p class="content-city font-semibold pl-3 pt-2 m-0">Phường/xã</p>
            <span class="p-input-icon-right" style="float: right; visibility: hidden">
                <i class="pi pi-search"></i>
                <input type="text" pInputText class="p-inputtext-sm w-19rem" />
            </span>
        </div>
        <div class="col-12 p-0">
            <m-table [items]="citys" [calcHeight]="148" [cols]="cols" [customBodyTemplate]="customBodyTemplate"
            [customHeaderTemplate]="customHeaderTemplate"></m-table>
            <ng-template #customHeaderTemplate>
                <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width']" pFrozenColumn  >
                    <span class="p-3">{{ col['header'] }} &nbsp; &nbsp;<i class='{{ col.isOpSort? (col.iconSort == 0? "pi pi-sort-alt" : (col.iconSort == 1? "pi pi-sort-amount-up-alt" : "pi pi-sort-amount-down")) : ""}}' style="font-size: 1.01rem"></i></span>
                    <!-- Icon Sort -->
                    <div class="ml-1 w-2rem">
                        
                    </div>
                </th>
                <th [style.minWidth]="'3rem'" style="right:-4px;" pFrozenColumn alignFrozen="right">
                    <p-button [style]="{'float': 'right', 'padding': '0.6rem', 'min-witdh': '8rem'}" label="Thêm mới" icon="pi pi-plus">
                    </p-button>
                </th>
              </ng-template>
              <ng-template #customBodyTemplate let-rowData class="div-btn" >
                <td class="div-btn" [style.minWidth]="col.width" *ngFor="let col of cols;" pFrozenColumn>
                    <span class="p-3">{{ rowData[col['field']] }}</span>
                </td>
                <td [style.minWidth]="'3rem'" class="text-center flex justify-content-center p-2" pFrozenColumn alignFrozen="right">
                    <div class="hidden-div">
                        <p-button [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-pencil" styleClass="p-button-rounded p-button-secondary p-button-outlined" ></p-button>
                        <p-button class="pl-2" [style]="{'height': '2rem', 'width': '2rem'}" icon="pi pi-trash" styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
                    </div>
                </td>
            </ng-template>
        </div>
    </div>
  </div>
</div>
    <!-- Thêm mới / sửa city -->
<p-dialog [(visible)]="visible" [header]="userDialogHeader" [style]="{width: '25vw'}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <hr>
        <form [formGroup]="citysForm">
            <div class="field grid">
                <div class="col-4 pr-0 flex align-items-center">
                    <label><strong>Tên tỉnh/thành phố </strong><span class="text-red-500">*</span></label>
                </div>
                <div class="col-8">
                    <input typ="text" pInputText placeholder="Tên tỉnh/thành phố..." formControlName="name" required autofocus />
                    <div class="m-error">
                        {{ usernameErrorMessage(citysForm) }}
                    </div>
                    <!-- <div class="m-error" *ngIf="citysForm.controls['name'].invalid && citysForm.controls['name'].dirty">
                    *Tên tỉnh/thành phố không được để trống!
                    </div> -->
                </div>
                
            </div>
            <div class="field grid">
                <div class="col-4 pr-0">
                    <label><strong>Mã </strong><span class="text-red-500">*</span></label>
                </div>
                <div class="col-8">
                    <input type="text" pInputText pKeyFilter="int" placeholder="Mã..." formControlName="code" required autofocus />
                    <div class="m-error" *ngIf="citysForm.controls['code'].invalid && citysForm.controls['code'].dirty">
                    *Mã không được để trống!
                    </div>
                </div>                
            </div>
            <div class="field grid">
                <div class="col-4">
                     <label><strong>Thứ tự </strong><span class="text-red-500">*</span></label>
                </div>
                <div class="col-8">
                    <input type="text" pInputText pKeyFilter="int" placeholder="Thứ tự..." formControlName="orderNumber" required autofocus />
                    <div class="m-error" *ngIf="citysForm.controls['orderNumber'].invalid && citysForm.controls['orderNumber'].dirty">
                    *Thứ tự không được để trống!
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Hủy" styleClass="p-button-outlined" icon="pi pi-times" (click)="cancel()"></p-button>
        <p-button pRipple icon="pi pi-save" label="Lưu" (click)="saveCitys()"></p-button>
    </ng-template>
</p-dialog>
    <!-- Xóa -->
<confirm-dialog [(visible)]="show" [confirmText]="'Bạn có chắc chắn muốn xóa thông tin?'"></confirm-dialog>