<p-table
  #dt
  [value]="items"
  responsiveLayout="scroll"
  [lazy]="isLazyLoad"
  (onLazyLoad)="onPageChange.emit($event)"
  [rows]="take"
  [showCurrentPageReport]="true"
  [selectionMode]="'single'"
  [(selection)]="selectedItem"
  [loading]="loading"
  [styleClass]="tableStyleClass + ' m-table'"
  [rowHover]="true"
  [dataKey]="dataKey"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - ' + calcHeight + 'px)'"
>
  <ng-template pTemplate="header">
    <tr>
      <!-- Dòng STT -->
      <!-- <th style="min-width: 3rem" class="text-center flex justify-content-around" pFrozenColumn alignFrozen="left">STT</th> -->

      <!-- Header tuỳ biến Default, Custom, ... -->
      <ng-template #defaultHeaderTemplate>
        <th *ngFor="let col of cols; let i = index" [style.minWidth]="col['width'] || '12rem'">{{ col['header'] }}</th>
        <th [style.minWidth]="actionColWidth" pFrozenColumn alignFrozen="right"></th>
      </ng-template>
      <ng-container *ngTemplateOutlet="customHeaderTemplate ? customHeaderTemplate : defaultHeaderTemplate"></ng-container>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" class="div-btn">
      <!-- <td style="min-width: 3rem" class="text-center flex justify-content-around" pFrozenColumn alignFrozen="left">
        {{ rowIndex + 1 }}
      </td> -->

      <!-- Phần chứa dữ liệu trong bảng -->
      <ng-template #defaultTemplate>
        <td [style.minWidth]="col.width || '12rem'" *ngFor="let col of cols" class="justify-content-center">
          {{ rowData[col['field']] }}
        </td>

        <!-- Khối Edit và Delete một dòng dữ liệu -->
        <td [style.minWidth]="actionColWidth" pFrozenColumn alignFrozen="right" class="flex justify-content-center">
          <div class="flex mx-1" class="flex justify-content-center">
            <button *ngIf="actions.includes(ACTIONS.EDIT)" pButton pRipple icon="pi pi-pencil" class="ml-auto p-button-rounded p-button-success ml-2 mr-2 p-button-xs" (click)="onEditItem.emit(rowData)" title="Edit row"></button>
            <button *ngIf="actions.includes(ACTIONS.DELETE)" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-button-xs" (click)="onDeleteItem.emit(rowData)" title="Delete row"></button>
            <ng-container *ngTemplateOutlet="additionButtonsTemplate; context: { $implicit: rowData }"></ng-container>
          </div>
        </td>
      </ng-template>

      <ng-container *ngTemplateOutlet="customBodyTemplate ? customBodyTemplate : defaultTemplate; context: { $implicit: rowData }"></ng-container>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <div class="w-full text-center p-2">Không có dữ liệu.</div>
  </ng-template>
</p-table>